{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- 加载title -->
		<title>{% block title %} {% endblock %}</title>

		<!-- 加载css -->
		<link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'blog/css/templatemo_style.css' %}">
		<link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'blog/css/theme/green.css' %}" rel="stylesheet">
		{% block css %} {% endblock %}
	</head>
<body class="templatemo-bg-image-1">
		<!-- 加载header1 -->
		{% include "base/header1.html"%}
        <!-- 加载content -->
		{% block content %} {% endblock %}
        <!-- 加载footer -->
{#        <div class="container" style="margin-bottom: 20px">#}
{#            <h5 class="copyright">Copyright &copy; 2018<a target="_blank" href="#"> 个人网站</a></h5>#}
{#        </div>#}
        <script src="{% static 'blog/js/jquery-2.2.0.min.js' %}"></script>
        {% block js %} {% endblock %}
</body>
</html>