{% extends "base/base1.html" %}
{% load staticfiles %}
{% block content %}
	<section class="row featured-post-carousel">
	    <div class="item post">
	        <img src="{% static 'blog/images/featured-posts/1.jpg' %}" alt="" class="img-responsive main-bg">
	        <div class="post-content">
	            <div class="container">
	                <h5 class="post-meta"><i>in</i> <a href="#">作者简介</a> | <a href="#">2018-07-05</a></h5>
	                <h2 class="post-title"><a href="article">从广义上说，自然界是自然的、物质的或物质的世界或宇宙。</a></h2>
	                <a href="article" class="btn btn-primary"><span>read more</span></a>
	            </div>
	        </div>
	    </div>
	    <div class="item post">
	        <img src="{% static 'blog/images/featured-posts/1-1.jpg' %}" alt="" class="img-responsive main-bg">        
	        <div class="post-content">
	            <div class="container">
	                <h5 class="post-meta"><i>in</i> <a href="#">作者简介</a> | <a href="#">2018-07-05</a></h5>
	                <h2 class="post-title"><a href="article">从广义上说，自然界是自然的、物质的或物质的世界或宇宙。.</a></h2>
	                <a href="article" class="btn btn-primary"><span>read more</span></a>
	            </div>
	        </div>
	    </div>
	    <div class="item post">
	        <img src="{% static 'blog/images/featured-posts/1-2.jpg' %}" alt="" class="img-responsive main-bg">        
	        <div class="post-content">
	            <div class="container">
	                <h5 class="post-meta"><i>in</i> <a href="#">作者简介</a> | <a href="#">2018-07-05</a></h5>
	                <h2 class="post-title"><a href="article">从广义上说，自然界是自然的、物质的或物质的世界或宇宙。.</a></h2>
	                <a href="article" class="btn btn-primary"><span>read more</span></a>
	            </div>
	        </div>
	    </div>
	</section>
{% endblock %}