{% load staticfiles %}
<!--Footer-->
<footer class="row" id="footer">
    <div class="container">
        <div class="row top-footer">
            <div class="widget col-sm-3 widget-about">
                <div class="row m0">
                	<a href="index"><img src="{% static 'blog/images/logo-black-green.png' %}" alt=""></a>
                </div>
            </div>
            <div class="widget col-sm-5 widget-menu">
                <div class="row">
                    <ul class="nav column-menu white-bg">
                        <li class="active"><a href="index">主页</a></li>
                        <li><a href="about">关于</a></li>
                    </ul>
                    <ul class="nav column-menu white-bg">
                        <li><a href="contact">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget col-sm-4 widget-subscribe">
                <h5 class="widget-title">友情链接:</h5>
                <footer class="row taxonomy pull-left-70">
                    <div><a href="#">nvtia1</a></div>
                    <div><a href="#">nvtia2</a></div>
                    <div><a href="#">nvtia3</a></div>
                    <div><a href="#">nvtia4</a></div>
                </footer>
            </div>
        </div>
        <h5 class="copyright">Copyright &copy; 2018<a target="_blank" href="#"> 个人网站</a></h5>
    </div>
</footer>