{% load staticfiles %}
<!--Footer-->
<footer class="row" id="footer">
    <div class="container">
        <div class="row top-footer">
            <div class="widget col-sm-3 widget-about">
                <div class="row m0">
                	<a href="index.html"><img src="{% static 'blog/images/logo-black-green.png' %}" alt=""></a>
                </div>
            </div>
            <div class="widget col-sm-5 widget-menu">
                <div class="row">
                    <ul class="nav column-menu white-bg">
                        <li class="active"><a href="index.html">主页</a></li>
                        <li><a href="about.html">关于</a></li>
                    </ul>
                    <ul class="nav column-menu white-bg">
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget col-sm-4 widget-subscribe">
                <h5 class="widget-title">订阅我们</h5>
                <form action="#" method="post" class="form-inline subscribe-form">                    
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">
                    	<span>发 送</span>
                    </button>
                </form>
            </div>
        </div>
        <h5 class="copyright">Copyright &copy; 2018<a target="_blank" href="#">个人网站</a></h5>
    </div>
</footer>