{% load staticfiles %}
<!-- Header1 -->
<header class="row transparent black header1" data-spy="affix" data-offset-top="0" id="header">
    <div class="container">
        <div class="row top-header">
			<div class="col-sm-2 logo-col">
                <a href="{% url 'index' %}"><img src="{% static 'blog/images/logo-white-green.png' %}" alt=""></a>
            </div>
            <div class="col-sm-6 menu-trigger-col">
                <a href="{% url 'index' %}" class="menu-trigger pull-right">
                    <span class="active-page"><img src="{% static 'blog/images/menu-align-white.png' %}" alt="" class="icon-burger">&nbsp;&nbsp;博客</span>
                </a>
            </div>
            <div class="col-sm-pull menu-trigger-col nav navbar-nav navbar-right  pull-top">
                {% if not user.is_authenticated %}
                    <a href="{% url 'index' %}" class="menu-trigger pull-right">
                        <span class="active-page pull-right">注册</span>
                    </a>
                    <a href="{% url 'index' %}" class="menu-trigger pull-right ">
                        <span class="active-page ">登录</span>
                    </a>
                    {% else %}
                        <li nav navbar-nav navbar-right>
                        <img class="img-circle" src="{% static "blog/images/author.png" %}" alt="头像"  style="height: 45px"/>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle menu-trigger pull-right " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
                            <ul class="dropdown-menu black">
                                <li><a >个人资料</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a >退出</a></li>
                            </ul>
                        </li>
                {% endif %}
            </div>
        </div>
    </div>
</header>