{% load staticfiles %}
<!-- Header2 -->
<header class="row transparent white" data-spy="affix" data-offset-top="300" id="header">
    <div class="container">
        <div class="row top-header">
			<div class="col-sm-2 logo-col">
                <a href="{% url 'index' %}"><img src="{% static 'blog/images/logo-black-green.png' %}" alt=""></a>
            </div>
            <div class="col-sm-6 menu-trigger-col">
                <a href="{% url 'index' %}" class="menu-trigger black pull-right">
                    <span class="active-page"><img src="{% static 'blog/images/menu-align-dark.png' %}" alt="" class="icon-burger"> 博客</span>
                </a>
            </div>
            <div class="col-sm-pull menu-trigger-col nav navbar-nav navbar-right pull-top">
                {% if not user.is_authenticated %}
                    <button class="menu-trigger black pull-right ">
                        <a class="active-page " href="{% url 'login' %}">登录</a>
                    </button>
                    <button class="menu-trigger black pull-right">
                        <a class="active-page pull-right" href="{% url 'register' %}">注册</a>
                    </button>
                    {% else %}
                        <li>
                        <img class="img-circle" src="{% static "blog/images/author.png" %}" alt="头像"  style="height: 45px"/>
                        </li>
                        <li class="active dropdown">
                            <a href="#" class="dropdown-toggle menu-trigger black" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a >个人资料</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url "forgot_password" %}">修改密码</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}">退出</a></li>
                            </ul>
                        </li>
                {% endif %}
            </div>
        </div>
    </div>
</header>