{% extends "base/base2.html" %}
{% load staticfiles %}
{% load likes_tags %}
{% load comment_tags %}
{% block title %}博客详细{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'markdown/css/editormd.min.css' %}">
    <link rel="stylesheet" href="{% static 'markdown/css/editormd.preview.css' %}">
{% endblock %}
{% block content %}
	<section class="row content-wrap">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-8 single-post-contents">
	                <article class="single-post-content row m0 post">
	                    <header class="row">                        
	                        <h5 class="post-meta">
	                            <a href="{% url 'posts_time'  posts_detail_data.publish_time|date:"Y"  posts_detail_data.publish_time|date:"m" %}" class="date">{{ posts_detail_data.publish_time|date:"Y-m-d " }}</a>
	                            <span class="post-author"><i>作者:</i><a href="#">{{ posts_detail_data.author}}</a></span>
	                        </h5>
                        </header>
	                    <div class="post-content row">
                            <div id="layout">
                                <header>
                                    <h2 class="pull-center">{{ posts_detail_data.title }} </h2>
                                </header>
                                <div id="editormd-view">
                                    <textarea  id="append" style="display:none;">{{ posts_detail_data.content }}</textarea>
                                </div>
                            </div>
                            <div class="row m0 tags">
                                <footer class="row">
                                    <a href="{% url 'posts_type' posts_detail_data.b_type.id %}" class="tag">分类标签:{{ posts_detail_data.b_type }}</a>
                                    <div class="like pull-right tag" id="like">
                                        <span id="like_status" class="glyphicon glyphicon-thumbs-up {% get_like_status posts_detail_data %} "></span>
                                        <span id="like_num">{% get_like_count posts_detail_data %}</span>
                                        <span >点赞</span>
                                    </div>
                                    <span class="pull-right tag">阅读:{{ posts_detail_data.get_read_num }}</span>
                                </footer>
                            </div>
                            <ul class="pager">
                                {%  if previous_posts %}
                                    <li>
                                        <h4 class="taxonomy">上一篇:</h4>
                                        <h5 class="post-title"><a href="{% url 'article' previous_posts.id %}">{{ previous_posts.title }}</a></h5>
                                    </li>
                                {% else %}
                                    <li>
                                        <h2>没有了</h2>
                                    </li>
                                {% endif %}
                                {%  if next_posts %}
                                <li>
                                    <h4 class="taxonomy">下一篇:</h4>
                                    <h5 class="post-title"><a href="{% url 'article' next_posts.id %}">{{ next_posts.title }}</a></h5>
                                </li>
                                {% else %}
                                    <li>
                                        <h2>没有了</h2>
                                    </li>
                                {% endif %}
                            </ul>
                                <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden; margin-bottom: 10px">
                                    <div class="taxonomy" style="margin-bottom: 10px"><h4>{{ request.user.username }}, 欢迎评论 | 当前评论数量为 {% get_comment_count posts_detail_data %} </h4></div>
                                    <div id="reply_cotent_container" style="display: none">
                                        <p>回复:</p>
                                    <div id="reply_cotent"></div>
                                </div >
                                <div class="pull-center">
                                    {% csrf_token %}
                                    {% get_comment_form posts_detail_data as comments_form %}
                                    {% for field in comments_form %}
                                        {{ field }}
                                    {%  endfor %}
                                    <span id="comment_error" class="text-danger pull-left"></span>
                                        <h4 class="response-count taxonomy">
                                            <a href="#" class="btn btn-primary pull-left ">添加评论</a>
                                            <input type="submit" value="提交评论" class="btn btn-primary pull-right">
                                        </h4>
                                </div>
                                </form>
                            <div id="comment_list">
                            {% get_comment_list posts_detail_data as comments %}
                            {% for comment in comments %}
                            <div class="row m0 comments ">
                                <div class="media-left">
                                <a><img src="{% static 'blog/images/posts/c1.jpg' %}" alt="" class="img-circle"></a>
                            </div>
                            <div class="media-body" id="top_level_{{ comment.id }}">
                                <h4><a class="taxonomy">{{ comment.user }}</a></h4>
                                <h5><a class="date taxonomy">{{ comment.comment_time|date:"Y-m-d H:i:s" }}</a> | <a href="javascript:reply({{ comment.id }})" class="reply-link taxonomy">回复</a></h5>
                                <p id="comment_{{ comment.id }}">{{ comment.comment_text|safe }}</p>
                                <!--Comments-->
                                {%  for reply in comment.top_level_comment.all %}
                                <div class="media comment reply">
                                    <div class="media-left">
                                        <a href="#"><img src="{% static 'blog/images/posts/c2.jpg' %}" alt="" class="img-circle"></a>
                                    </div>
                                    <div class="media-body">
                                        <h4><a class="taxonomy">{{ reply.user.username }}</a></h4>
                                        <h5><a class="date taxonomy">{{ reply.comment_time|date:"Y-m-d H:i:s" }}</a> | <a href="javascript:reply({{ reply.id }})" class="reply-link taxonomy" id="reply_title">回复</a></h5>
                                        <span> {{ reply.reply_to.username }}</span>
                                        <p id="comment_{{ reply.id }}">{{ reply.comment_text|safe }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            </div>
                            {% empty %}
                                <div class="row m0 comments taxonomy">
                                    <h3><span id="no_comment"> 暂无评论</span></h3>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </article>
	            </div>
	            <div class="col-md-4 sidebar">
                    <aside class="row m0 widget-author widget">
	                    <div class="widget-author-inner row ">
                            <h2 class="author-name"></h2>
                            <h4 class="author-title">目录</h4>
                            <div class="markdown-body editormd-preview-container taxonomy" id="custom-toc-container"></div>
	                    </div>
	                </aside>
                    <aside class="row m0 widget-author widget">
	                    <div class="widget-author-inner row pull-center">
                            <h2 class="author-name"></h2>
                            <h4 class="author-title">最近七天热门TOP5</h4>
                            {% for sevenday_hot_data in sevenday_hot_datas %}
                            <p><a href="{% url 'article' sevenday_hot_data.id %}">{{ sevenday_hot_data.title }}({{ sevenday_hot_data.read_num_sum }})</a></p>
                            {% empty %}
                                <h3><p>最近七天暂无热门</p></h3>
                            {% endfor %}
	                    </div>
	                </aside>
	                <aside class="row m0 widget-author widget">
	                    <div class="widget-author-inner row pull-center">
                            <h2 class="author-name"></h2>
                            <h4 class="author-title">博客分类标签</h4>
                            {% for posts_category in posts_categorys %}
                            <p><a class="taxonomy " href="{% url 'posts_type' posts_category.id %}">{{ posts_category.type_name }}({{ posts_category.posts_count }})</a></p>
                            {% empty %}
                                <h3><p>暂无分类</p></h3>
                            {% endfor %}
	                    </div>
	                </aside>
	                <aside class="row m0 widget-author widget">
	                    <div class="widget-author-inner row pull-center">
                            <h2 class="author-name"></h2>
                            <h4 class="author-title">博客归档</h4>
                            {% for posts_data, posts_count in posts_datas.items %}
                            <p><a class="taxonomy " href="{% url 'posts_time' posts_data.year posts_data.month %}">{{ posts_data | date:"Y年m月"}}({{ posts_count }})</a></p>
                            {% empty %}
                                <h3><p>暂无归档</p></h3>
                            {% endfor %}
	                    </div>
	                </aside>
	            </div>
	        </div>
	    </div>
	</section>
{% endblock %}
{% block js %}
    <script src="{% static 'blog/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'markdown/js/editormd.min.js' %}"></script>
    <script src="{% static 'markdown/lib/marked.min.js' %}"></script>
    <script src="{% static 'markdown/lib/prettify.min.js' %}"></script>
    <script src="{% static 'markdown/lib/raphael.min.js' %}"></script>
    <script src="{% static 'markdown/lib/underscore.min.js' %}"></script>
    <script src="{% static 'markdown/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'markdown/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'markdown/lib/jquery.flowchart.min.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            var EditormdView;
            EditormdView = editormd.markdownToHTML("editormd-view", {
                htmlDecode      : "style,script,iframe",
                emoji           : true,
                taskList        : true,
                tex             : true,
                flowChart       : true,
                sequenceDiagram : true,
                tocContainer    : "#custom-toc-container",
                tocm   : true,
                tocTitle      : "目录",
            });
            $("#like").click(function () {
            var is_like = this.getElementsByClassName('active').length == 0;
            $.ajax({
                url: '{% url 'like_change' %}',
                type: 'POST',
                headers: {"X-CSRFToken":$.cookie('csrftoken')}, //防止django csrf报错,需要引入jquery-cookie
                data: {
                    content_type: "posts",
                    object_id: {{ posts_detail_data.id }},
                    is_like: is_like,
                },
                cache: false,
                success: function (data) {
                    console.log(data)
                    if(data['status']=='SUCCESS'){
                        if(is_like){
                            $("#like_status").addClass('active');
                        }else {
                            $("#like_status").removeClass('active');
                        }
                        $("#like_num").text(data['liked_num']);

                    }else {
                        if(data['code'] == 400){
                            $("#login_modal").modal('show');
                        }else {
                            alert(data['message']);
                        }
                    }
                },
                error: function (xhr) {
                    console.log(xhr)
                }
                });
            });
        });
        function numFormat(num) {
            return('00' + num).substr(-2);
        }

       function timeFormmat(timestamp) {
            var datetime = new Date(timestamp * 1000) ;
            var year = datetime.getFullYear();
            var month = numFormat(datetime.getMonth() + 1);
            var day = numFormat(datetime.getDay());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            var second = numFormat(datetime.getSeconds());
            return year + '-' + month + '-' + day + ' ' +  hour + ':' + minute + ':' + second
        }
        $("#comment_form").submit(function(){
            // 判断是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_comment_text"].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }

            // 更新数据到textarea
            CKEDITOR.instances['id_comment_text'].updateElement();

            // 异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        // 插入数据

                        if($('#reply_comment_id').val()=='0'){
                            //插入评论
                            var comment_html = '<div class="row m0 comments "><div class="media-left"><a><img src="{% static 'blog/images/posts/c1.jpg' %}" alt="" class="img-circle"></a></div><div class="media-body" id="top_level_ ' + data['id'] + ' "> <h4><a class="taxonomy">'+ data['username'] + '</a></h4> <h5><a class="date taxonomy">'+ timeFormmat(data['comment_time']) + '</a> | <a href="javascript:reply('+ data['id'] + ')" class="reply-link taxonomy">回复</a></h5> <p id="comment_'+ data['id'] + '">'+ data['comment_text'] + '</p></div>';
                            $("#comment_list").prepend(comment_html);
                        }else{
                            //插入回复
                           var reply_html = '<div class="media comment reply"><div class="media-left"><a href="#"><img src="{% static 'blog/images/posts/c2.jpg' %}" alt="" class="img-circle"></a></div><div class="media-body" id="top_level_ ' + data['id'] + ' "> <h4><a class="taxonomy">'+ data['username'] + '</a></h4> <h5><a class="date taxonomy">'+ timeFormmat(data['comment_time']) + '</a> | <a href="javascript:reply('+ data['id'] + ')" class="reply-link taxonomy">回复</a></h5> <p id="comment_'+ data['id'] + '">'+ data['comment_text'] + '</p></div>';
                            $("#top_level_"+ data['top_level']).append(reply_html)
                        }
                        // 清空编辑框的内容
                        CKEDITOR.instances['id_comment_text'].setData('');
                        $('#reply_cotent_container').hide();
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove();
                        $("#comment_error").text('评论成功');
                    }else{
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
        function reply(reply_comment_id) {
            $('#reply_comment_id').val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_cotent').html(html);
            $('#reply_cotent_container').show()
            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function () {
                CKEDITOR.instances['id_comment_text'].focus()
            });
        }

    </script>
{% endblock %}
