{% extends "base/base2.html" %}
{% load staticfiles %}
{% block title %}博客详细{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'markdown/css/editormd.preview.css' %}">
{% endblock %}
{% block content %}
	<section class="row content-wrap">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-8 single-post-contents">
	                <article class="single-post-content row m0 post">
	                    <header class="row">                        
	                        <h5 class="post-meta">
	                            <a href="#" class="date">{{ posts_detail_data.publish_time|date:"Y-m-d " }}</a>
	                            <span class="post-author"><i>作者:</i><a href="#">{{ posts_detail_data.author}}</a></span>
	                        </h5>
                        </header>
	                    <div class="post-content row">
                        <div id="layout">
                            <header>
                                <h2 class="pull-center">{{ posts_detail_data.title }} </h2>
                            </header>
                            <div id="editormd-view">
                                <textarea  id="append" style="display:none;">{{ posts_detail_data.content }}</textarea>
                            </div>
                        </div>
	                    <div class="row m0 tags">
                            <footer class="row ">
                                <a href="#" class="tag">{{ posts_detail_data.b_type }}</a>
                                <span class="pull-right tag">阅读量:7</span>
                                <span class="pull-right tag">点赞:9</span>

                            </footer>
	                    </div>
	                    <ul class="pager">
                            {%  if previous_posts %}
                                <li>
                                    <h4 class="taxonomy">上一篇:</h4>
                                    <h5 class="post-title"><a href="{% url 'article' previous_posts.id %}">{{ previous_posts.title }}</a></h5>
                                </li>
                            {% else %}
                                <li>
                                    <h2>没有了</h2>
                                </li>
                            {% endif %}
                            {%  if next_posts %}
	                        <li>
                                <h4 class="taxonomy">下一篇:</h4>
                                <h5 class="post-title"><a href="{% url 'article' next_posts.id %}">{{ next_posts.title }}</a></h5>
	                        </li>
                            {% else %}
                                <li>
                                    <h2>没有了</h2>
                                </li>
                            {% endif %}
	                    </ul>
	                    
	                    <div class="row m0 comments ">
	                        <h5 class="response-count ">评论数量:5<a href="#comment-form" class="btn btn-primary pull-right"><span>添加评论</span></a></h5>
	                        <!--Comments-->
	                        <div class="media comment">
	                            <div class="media-left">
	                                <a href="#"><img src="{% static 'blog/images/posts/c1.jpg' %}" alt="" class="img-circle"></a>
	                            </div>
	                            <div class="media-body">
	                                <h4><a href="#">Mark Sanders</a></h4>
	                                <h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>
	                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>                                
	                                <!--Comments-->
	                                <div class="media comment reply">
	                                    <div class="media-left">
	                                        <a href="#"><img src="{% static 'blog/images/posts/c2.jpg' %}" alt="" class="img-circle"></a>
	                                    </div>
	                                    <div class="media-body">
	                                        <h4><a href="#">Mark Sanders</a></h4>
	                                        <h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>
	                                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	                                        <!--Comments-->
	                                        <div class="media comment reply">
	                                            <div class="media-left">
	                                                <a href="#"><img src="{% static 'blog/images/posts/c1.jpg' %}" alt="" class="img-circle"></a>
	                                            </div>
	                                            <div class="media-body">
	                                                <h4><a href="#">Mark Sanders</a></h4>
	                                                <h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>
	                                                <p>Remaining essentially unchanged.</p>
	                                                <!--Comments-->
	                                                <div class="media comment reply">
	                                                    <div class="media-left">
	                                                        <a href="#"><img src="{% static 'blog/images/posts/c2.jpg' %}" alt="" class="img-circle"></a>
	                                                    </div>
	                                                    <div class="media-body">
	                                                        <h4><a href="#">Mark Sanders</a></h4>
	                                                        <h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>
	                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                                                
	                        <!--Comments-->
	                        <div class="media comment">
	                            <div class="media-left">
	                                <a href="#"><img src="{% static 'blog/images/posts/c1.jpg' %}" alt="" class="img-circle"></a>
	                            </div>
	                            <div class="media-body">
	                                <h4><a href="#">Mark Sanders</a></h4>
	                                <h5><a href="#" class="date">feb 17, 2016 at 3:30pm</a> | <a href="#" class="reply-link">reply</a></h5>
	                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	                            </div>
	                        </div>
	                    </div>
	                    </div>
                        </div>
                    </article>
	            </div>
	            <div class="col-md-4 sidebar">
	                <!--Author Widget-->
	                <aside class="row m0 widget-author widget">
	                    <div class="widget-author-inner row ">
	                        <div class="author-avatar row "><img src="{% static 'blog/images/author.png' %}" alt="" class="img-circle"></div>
                            <h2 class="author-name"></h2>
                            <h4 class="author-title">博客分类</h4>
	                    </div>
	                </aside>

	                <aside class="row m0 widget widget-twitter">
	                    <div class="widget-twitter-inner pull-center">
                            {% for posts_category in posts_categorys %}
                            <p><a class="taxonomy " href="{% url 'posts_type' posts_category.id %}">{{ posts_category.type_name }}({{ posts_category.posts_count }})</a></p>
                            {% empty %}
                                <h3><p>暂无分类</p></h3>
                            {% endfor %}
	                    </div>
	                </aside>
	                <aside class="row m0 widget-author widget">
	                    <div class="widget-author-inner row ">
	                        <div class="author-avatar row "><img src="{% static 'blog/images/author.png' %}" alt="" class="img-circle"></div>
                            <h2 class="author-name"></h2>
                            <h4 class="author-title">博客归档</h4>
	                    </div>
	                </aside>
	                <aside class="row m0 widget widget-twitter">
	                    <div class="widget-twitter-inner pull-center">
                            {% for posts_data, posts_count in posts_datas.items %}
                            <p><a class="taxonomy " href="{% url 'posts_time' posts_data.year posts_data.month %}">{{ posts_data | date:"Y年m月"}}({{ posts_count }})</a></p>
                            {% empty %}
                                <h3><p>暂无归档</p></h3>
                            {% endfor %}
	                    </div>
	                </aside>
	            </div>
	        </div>
	    </div>
	</section>
{% endblock %}
{% block js %}
    <script src="{% static 'markdown/js/editormd.min.js' %}"></script>
    <script src="{% static 'markdown/lib/marked.min.js' %}"></script>
    <script src="{% static 'markdown/lib/prettify.min.js' %}"></script>
    <script src="{% static 'markdown/lib/raphael.min.js' %}"></script>
    <script src="{% static 'markdown/lib/underscore.min.js' %}"></script>
    <script src="{% static 'markdown/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'markdown/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'markdown/lib/jquery.flowchart.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            var EditormdView;
           EditormdView = editormd.markdownToHTML("editormd-view", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                });
        });
    </script>
{% endblock %}
