{% load base_form_tages %}
{#                        登录模态对话框#}
<div class="modal fade" id="forgotpassword_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form id="forgotpassword_medal_form" action="" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">忘记密码</h4>
      </div>
      <div class="modal-body">
            {% csrf_token %}
            {% get_forgotpassword as forgotpassword_form %}
            {%  for field in forgotpassword_form %}
                {% if not field.is_hidden %}
                <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                {% endif %}
                {{ field }}
                <p class="text-danger">{{ field.errors.as_text }}</p>
            {% endfor %}
            <span id="login_modal_tip" class="text-danger">{{ forgotpassword_form.non_field_errors }}</span>
            <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
          <button id="send_code" class="btn btn-danger pull-left">发送验证码</button>
          <button class="btn btn-default" onclick="window.location.href='{{ return_back_url }}'" >返回</button>
          <input type="submit" value="{{ submit_text }}" class="btn btn-default">
      </div>
    </form>
    </div>
  </div>
</div>
<script>
</script>